html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*override theme*/


.image-input-placeholder {
    background-image: url('../Images/imgPlaceHolder.jpg');
}

[data-bs-theme="dark"] .image-input-placeholder {
    background-image: url('../Images/imgPlaceHolder.jpg');
}
/*end theme*/