html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*override theme*/
.form-floating > .form-select {
    padding-top: 2.15rem;
    padding-bottom: 0.425rem;
}
/*end theme*/