@model BookFormViewModel

@{

    ViewData["Title"] = "Books";
}

<div class="card">
  <div class="card-title m-5">
        <h2> @(Model.Id > 0 ? "Edit" : "Add") Book</h2>

  </div>
    <div class="card-body">
        <form asp-controller="Books" method="post" enctype="multipart/form-data" id="form">
            @if (Model.Id > 0)
            {
                <input asp-for="Id" hidden />
            }
         
           <div class="mb-10">
                <!--begin::Image input-->

                <div class="image-input img image-input-outline " data-kt-image-input="true"
                     style="background-image:url(@(string.IsNullOrEmpty(Model.ImageUrl)?"/Images/no-image-icon-23485.png":Model.ImageUrl)) !important">
                    <!--begin::Image preview wrapper-->
                    <div class="image-input-wrapper w-200px h-200px"></div>
                    <!--end::Image preview wrapper-->
                    <!--begin::Edit button-->
                    <label class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                           data-kt-image-input-action="change"
                           data-bs-dismiss="click">

                        <i class="bi bi-pencil-fill fs-7"></i>

                        <!--begin::Inputs-->
                        <input type="file" asp-for="Image" accept=".png, .jpg, .jpeg" />
                        <input type="hidden" asp-for="Image" />
                        <!--end::Inputs-->
                    </label>
                    <!--end::Edit button-->
                    <!--begin::Cancel button-->
                    <span class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                          data-kt-image-input-action="cancel"
                          data-bs-dismiss="click">

                        <i class="bi bi-x fs-7"></i>
                    </span>
                    <!--end::Cancel button-->
                    <!--begin::Remove button-->
                    <span class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                          data-kt-image-input-action="remove"
                          data-bs-dismiss="click">

                        <i class="bi bi-x fs-7"></i>
                    </span>
                    <!--end::Remove button-->
                </div>
                <div class="form-text">
                    Allowed file types:png,jpg,jpeg and cannot be more than 2MB
                </div>
                <!--end::Image input-->
                <span asp-validation-for="Image" class="text-danger"></span>
           </div>
            
           <div class="row">
               <div class="col-md-5">
                    <div class="row mb-5">
                        <div class="form-floating col">
                            <input type="text" class="form-control" placeholder="" asp-for="Title" />
                            <label asp-for="Title"></label>
                        </div>
                        <span asp-validation-for="Title" class="text-danger d-block      "></span>
                    </div>

                    <div class="row mb-5 ">
                        <div class="form-floating col">
                            <select class="form-select js-select2" data-placeholder="Select an author"
                                    asp-for="AuthorId"
                                    asp-items="@Model.Authors">
                               <option value="">Select an author</option>
                            </select>

                        </div>
                        <span asp-validation-for="AuthorId" class="text-danger d-block"></span>
                    </div>

                    <div class="row mb-5">
                        <div class="form-floating col">
                            <select class="form-select js-select2" multiple data-placeholder="Select Categories"
                                    asp-for="SelectedCategories"
                                    asp-items="@Model.Categories">
                                    <option value="">select categories</option>
                            </select>

                        </div>
                        <span asp-validation-for="SelectedCategories" class="text-danger d-block"></span>
                    </div>

                    <div class="row mb-5">
                        <div class="form-floating col">
                            <input type="text" class="form-control" placeholder="" asp-for="Publisher" />
                            <label asp-for="Publisher"></label>
                        </div>
                        <span asp-validation-for="Publisher" class="text-danger d-block"></span>
                    </div>

                    <div class="row mb-5">
                        <div class="form-floating col">
                            <input type="text" class="form-control js_datepicker" placeholder="" asp-for="PublishingDate" />
                            <label asp-for="PublishingDate"></label>
                        </div>
                        <span asp-validation-for="PublishingDate" class="text-danger d-block"></span>
                    </div>
                    @* <div class="row mb-5">
                    <div>
                    <img id="imagePreview" width="200px" height="200px" src="~/images/books/@(Model.ImageUrl is null ?"noCover.gif":Model.ImageUrl)" alt="book with no image" />
                    </div>
                    <div class="form-floating col-md-8">
                    <input type="file" class="form-control" placeholder=""
                    asp-for="Image" accept=".jpg ,.ipeg ,.png"
                    onchange="document.getElementById('imagePreview').src=window.URL.createObjectURL(this.files[0])  " />
                    <label asp-for="Image"></label>
                    </div>
                    <span asp-validation-for="Image" class="text-danger"></span>
                    </div>*@
                    <div class="row mb-5">
                        <div class="form-check form-switch mb-3">
                            <input class="form-check-input" type="checkbox"  asp-for="IsAvailableForRent">
                            <label class="form-check-label" asp-for="IsAvailableForRent"></label>
                        </div>

                    </div>
                    <div class="row mb-5">
                        <div class="form-floating col">
                            <input type="text" class="form-control" placeholder="" asp-for="Hall" />
                            <label asp-for="Hall"></label>
                        </div>
                        <span asp-validation-for="Hall" class="text-danger d-block"></span>
                    </div>

                   
               </div>
               <div class="col-md-7">
                    <div class="row mb-5">
                        <div class="form-floating">
                            <textarea id="Discription" class="form-control js_tiny" placeholder="Leave a description here" asp-for="Description"></textarea>
                            <label asp-for="Description"></label>
                        </div>
                        <span asp-validation-for="Description" class="text-danger d-block"></span>
                    </div>

               </div>

           </div>
       
           
        </form>
    </div>
    <div class="card-footer">
         <button type="submit" class="btn btn-primary js-loading" form="form">
                <span class="indicator-label">
                    Save
                </span>
                <span class="indicator-progress">
                    Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
            </button>
            <a class="btn btn-light text-primary ms-5" asp-action="Index">Cancle</a>
    </div>
</div>

@section Scripts{
    <script src="~/assets/plugins/tinymce/tinymce.bundle.js"></script>
    <partial name="_ValidationScriptsPartial" />
}


                