@model IEnumerable<UserViewModel>
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery antiforgery;
@{
    ViewData["Title"] = "Users";
}

@section Styles{
    <link href="~/assets/plugins/datatables.bundle.css" rel="stylesheet" />
}

<div class="alert bg-light-primary border border-primary border-3 border-dashed d-flex justify-content-between  w-100 p-5 mb-10">
    <div class="d-flex align-items-center">
        <!--begin::Icon-->
        <h3>
            <div class="symbol symbol-40px">
                <div class="symbol-label fs-2 fw-semibold text-success">
                    <span class="svg-icon svg-icon-2 svg-icon-primary me-2">
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path opacity="0.3" d="M16.5 9C16.5 13.125 13.125 16.5 9 16.5C4.875 16.5 1.5 13.125 1.5 9C1.5 4.875 4.875 1.5 9 1.5C13.125 1.5 16.5 4.875 16.5 9Z" fill="currentColor" />
                            <path d="M9 16.5C10.95 16.5 12.75 15.75 14.025 14.55C13.425 12.675 11.4 11.25 9 11.25C6.6 11.25 4.57499 12.675 3.97499 14.55C5.24999 15.75 7.05 16.5 9 16.5Z" fill="currentColor" />
                            <rect x="7" y="6" width="4" height="4" rx="2" fill="currentColor" />
                        </svg>
                    </span>
                </div>
            </div>
            Users
        </h3>
    </div>
    <div>
        <a href="javascript:;" class="btn btn-sm btn-primary js-model-render" data-title="Add User" data-url="/Categories/Create">
            <i class="bi bi-plus-square-dotted"></i>
            Add
        </a>
    </div>
    <!--end::Close-->
</div>
<div class="card">
    <partial name="_DatatableCardHeader" />
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-row-bordered gy-2 align-middle js_datatables" data-documentTitle="Categories">
                <thead>
                    <tr class="fw-bold fs-6 text-gray-800">
                        <th>Full Name</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Created on</th>
                        <th>Last updated on</th>
                        <th class="js-no-export">Action</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <partial name="_UserRow" model="user" />
                    }
                </tbody>
            </table>
        </div>
    </div>
    <input hidden name="__RequestVerificationToken" value="@antiforgery.GetAndStoreTokens(Context).RequestToken" />
</div>


@section Plugins{
    <script src="~/assets/plugins/datatables.bundle.js"></script>
}

@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    }

